/* styles.css */

.sidebar {
    background-color: #343a40; /* Sidebar background color */
    color: #fff; /* Text color */
    height: 100vh;
    position: absolute;
}

.sidebar-content {
    padding-top: 20px;
}

.sidebar-content ul {
    list-style: none;
    padding: 0;
}

.sidebar-content ul li {
    padding: 10px 20px;
    border-bottom: 1px solid #555; /* Border color between sidebar items */
}

.sidebar-content ul li:last-child {
    border-bottom: none; /* Remove border from the last sidebar item */
}

.user-info {
    padding: 20px;
}

.sidebar-content ul li:hover {
    background-color: #555; /* Background color on hover */
}

.user-info:hover {
    background-color: #555; /* Background color on hover */
}
.sidebar-content ul li:last-child {
    border-bottom: none; /* Remove border from the last sidebar item */
}

.content {
    padding: 20px;
}
